<mt:setvarblock name="page_title"><__trans phrase="Create Offline Version"></mt:setvarblock>
<mt:setvarblock name="html_head" append="1">
    <script type="text/javascript" src="<mt:var name="static_uri">js/dialog.js"></script>
    <script type="text/javascript">
    <!--

    // -->
    </script>
</mt:setvarblock>
<mt:include name="dialog/header.tmpl">

<mt:if name="batch_exists">
        <mtapp:statusmsg
            id="exists"
            class="info">
            <__trans phrase="A publish request for this blog has already been submitted to the publish queue.">
        </mtapp:statusmsg>
</mt:if>

<mt:if name="path_unwritable">
        <mtapp:statusmsg
            id="exists"
            class="alert">
            <__trans phrase="The file path you specified in not writable by Movable Type.">
        </mtapp:statusmsg>
</mt:if>

<mt:if name="path_nonexist">
        <mtapp:statusmsg
            id="exists"
            class="alert">
            <__trans phrase="The path you entered does not exist or is not a directory.">
        </mtapp:statusmsg>
</mt:if>

  <p>
    This process will create a version of your web site suitable for distribution offline.
  </p>

  <form name="send_to_queue" 
        method="post" 
        action="<$mt:var name="script_url"$>">
    <input type="hidden" name="__mode" value="pub_offline" />
    <input type="hidden" name="create_job" value="1" />
<mt:If name="blog_id">
    <input type="hidden" name="blog_id" value="<$mt:var name="blog_id"$>" />
<mt:Else>
    <input type="hidden" name="blog_ids" value="<$mt:var name="blog_ids"$>" />
</mt:If>

    <mtapp:setting
        id="file_path"
        label_class="top-label"
        label="<__trans phrase="Output File Path">"
        hint="Output the offline version of this web site to this directory."
        show_hint="1">
      <input type="text" name="file_path" size="60" value="<$mt:var name="file_path"$>" style="width: 603px;" />
    </mtapp:setting>

    <mtapp:setting
        id="output_url"
        label_class="top-label"
        label="<__trans phrase="Output URL">"
        hint="Enter a URL to the offline version of this web site. (The Output URL is supplied with the notification email.) If the Output File Path does not reference a web accessible directory, leave this field blank."
        show_hint="1">
      <input type="text" name="output_url" size="60" value="<$mt:var name="output_url"$>" style="width: 603px;" />
    </mtapp:setting>

<mt:If name="archive_zip_installed">
    <mtapp:setting
        id="zip_dir"
        label_class="top-label"
        label="<__trans phrase="Zip Offline Version">">
      <input type="checkbox" name="zip" id="zip"<mt:If name="zip"> checked="checked"</mt:If> />
      <label for="zip">Zip the contents of the Output File Path.</label>
    </mtapp:setting>
</mt:If>

    <mtapp:setting
        id="date"
        label_class="top-label"
        label="<__trans phrase="Include Date Identifier">">
      <input type="checkbox" name="date" id="date"<mt:If name="date"> checked="checked"</mt:If> />
      <label for="date">Append a date identifier to the offline version parent folder.</label>
    </mtapp:setting>

    <mtapp:setting
        id="email"
        label_class="top-label"
        label="<__trans phrase="Email Address">"
        hint="Send an email to this email address when the process is complete."
        show_hint="1">
      <input type="text" name="email" size="60" value="<$mt:var name="default_email"$>" style="width: 603px;" />
    </mtapp:setting>

    <div class="actions-bar">
      <div class="actions-bar-inner pkg actions">
            <button
                id="continue"
                type="submit"
                accesskey="s"
                title="<__trans phrase="Continue (c)">"
                class="primary-button"
                ><__trans phrase="Continue"></button>
            <button
                onclick="closeDialog(); return false"
                type="submit"
                accesskey="x"
                class="cancel close"
                title="<__trans phrase="Close (x)">"
                ><__trans phrase="Close"></button>
      </div>
    </div>
  </form>

<mt:include name="dialog/footer.tmpl">
